@charset="utf-8";

.header{

	text-align: center;

	margin-top: 20px;

}

.header-logo{

	font-size: 40px;

	margin-bottom:-10px

}

.header-subtitle{

	font-size: 20px;

}

a{

	text-decoration: none;

}

li::after {

	background-color: gray;

	bottom: 0;

	content: '';

	display: block;

	height: 1px;

	left: 0;

	transition: .5s all;

	width: 0;

}



li:hover::after {

	width: 100%;

}

li{

	list-style: none;

	padding: 5px 20px;

	font-size: 25px;

	display: inline-block;

}

ul{

	display: flex;

	justify-content:center;

	margin-top: 50px;

	border-bottom: solid 1px gray;

}

.work{

	margin: 10% 5%;

}

.work-title{

	text-align: center;

	font-size: 40px;

}



.work-detail{

	width: 40%;

	display: inline-block;

	margin-top: 50px;

	padding: 0 50px;

}

.work-detail img{

	width: 500px;

	height: 300px

}

a{

	text-decoration: none;

	color: black;

}

.work-subtitle{

	text-align: center;

	margin-top: 20px;

}

.work p{

	text-align: center;

}

.skill-title{

	text-align: center;

	font-size: 40px;

	margin-top: 100px;

}

.skill-detail{

	display: inline-block;

	width: 40%;

	margin: 100px  0 0 8%;

}

.skill-detail-title{

	border: solid 1px black;

	display: inline;

	border-radius: 50%;

	padding: 10px;

	background-color: black;

	color: white

}

.skill-descript{

	margin-top: 30px;

}
@media screen and (max-width:480px){
	body{
		width: 80%;
		margin: 0 10%;
	}
	.work-detail{
		width: 70%;
		padding: 0 15%;
	}
	.work-detail img{
		width: 100%;
		height: 100px;
	}
	.skill-detail{
		width: 80%;
		margin: 25px 10%;
		text-align: center;
	}
}
