@charset="utf-8";
.header{
	text-align: center;
	margin-top: 20px;
}
.header-logo{
	font-size: 40px;
	margin-bottom:-10px
}
.header-subtitle{
	font-size: 20px;
}
a{
	text-decoration: none;
}
li::after {
	background-color: gray;
	bottom: 0;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	transition: .5s all;
	width: 0;
}

li:hover::after {
	width: 100%;
}
li{
	list-style: none;
	padding: 5px 20px;
	font-size: 25px;
	display: inline-block;
}
ul{
	display: flex;
	justify-content:center;
	margin-top: 50px;
	border-bottom: solid 1px gray;
}
.work{
	margin: 10% 5%;
}
.work-title{
	text-align: center;
	font-size: 40px;
}

.work-detail{
    width: 40%;
	display: inline-block;
	margin-top: 50px;
	padding: 0 50px;
}
.work-detail img{
	width: 500px;
	height: 300px
}
a{
	text-decoration: none;
	color: black;
}
.work-subtitle{
	text-align: center;
	margin-top: 20px;
}
.work p{
	text-align: center;
}